header {
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color: white;
    display: inline-block;
    text-decoration: none;
    color: black; 
  }
  
  main {
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color: white;
    display: inline-block;
  }
  
  footer {
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color: white;
    display: inline-block;
    text-decoration: none;
    color: black; 
  }